<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel = "stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Experience">Experience</a></li>
                <li><a href="/Teaching">Teaching</a></li>
                <li><a href="/Resume">Resume</a></li>
                <li><a href="/Blog">Blog</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
        </nav>

        <div class ="container">

        {{ content }}        

        </div><!-- /."container" -->

        <footer>
            <ul>
                <li><a href="mailto:skshimon@alumni.colostate.edu">email</a></li>                
                <li><a href="https://github.com/shimon0505004">github.com/shimon0505004</a></li>
            </ul>
        </footer>
    </body>
</html>